.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  @include small-min {
    max-width: 480px;
  }

  @include medium-min {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @include large-min {
    max-width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
