.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @include small-min {
    max-width: 480px;
  }

  @include medium-min {
    max-width: 768px;
  }

  @include large-min {
    max-width: 1200px;
  }
}
