:root {
  /* fonts */

  /* text color */

  /* Background colors */

  /* bnt */

  /* transition */

  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

$large-width-min: 1200px;
$large-width-max: 1199px;
$medium-width-min: 768px;
$medium-width-max: 767px;
$small-width-min: 480px;
$small-width-max: 479px;
