:root {
  // Fonts

  --main-font: 'Montserrat', sans-serif;
  --secondary-font: 'Seymour One', sans-serif;

  //   Colors

  --main-light: #fcfcfc;
  --main-dark: #131313;
  --accent-color: #f8d24e;

  // Background

  --main-background: #84a178;

  // Сards background

  --card-green: #aec6a5;
  --card-yellow: #efd478;
  --card-orange: #d6936d;

  //   Buttons color

  --default-btn: #f8d24e;
  --hover-btn: #0a8817;
  --light-btn-text: #fcfcfc;
  --dark-btn-text: #000000;

  //   Hovers animation

  --main-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

$large-width-min: 1200px;
$large-width-max: 1199px;
$medium-width-min: 768px;
$medium-width-max: 767px;
$small-width-min: 480px;
$small-width-max: 479px;

@keyframes random-shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes small-shake {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }

  20% {
    transform: translate(0px, 0px) rotate(+1deg);
  }

  40% {
    transform: translate(0px, 0px) rotate(-1deg);
  }

  60% {
    transform: translate(0px, 0px) rotate(+1deg);
  }

  80% {
    transform: translate(0px, 0px) rotate(-1deg);
  }

  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}
