<section class="advantages">
  <h2 class="advantages__title visually-hidden">advantages</h2>
  <div class="container">
    <ul class="advantages__list">
      <li class="advantages__item">
        <p
          class="advantages__image wow animate__backInUp"
          data-wow-duration="1s"
          data-wow-delay="0.5s"
        >
          <svg class="advantages__icon" width="36" height="36">
            <use href="./images/sprites.svg#icon-cow"></use>
          </svg>
        </p>
        <p class="advantages__number">721</p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>

      <li class="advantages__item">
        <p
          class="advantages__image wow animate__backInUp"
          data-wow-duration="1s"
          data-wow-delay="0.5s"
        >
          <svg class="advantages__icon" width="36" height="36">
            <use href="./images/sprites.svg#icon-weight"></use>
          </svg>
        </p>
        <p class="advantages__number">16kg</p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <p
          class="advantages__image wow animate__backInUp"
          data-wow-duration="1s"
          data-wow-delay="0.5s"
        >
          <svg class="advantages__icon" width="36" height="36">
            <use href="./images/sprites.svg#icon-ice-crema"></use>
          </svg>
        </p>
        <p class="advantages__number">84</p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
