<div class="buy-now__backdrop-modal modal" data-modal="4">
  <button type="button" class="products-modal__button-close js-modal-close">
    <svg width="16px" height="16px">
      <use href="./images/sprites.svg#icon-close"></use>
    </svg>
  </button>

  <strong class="buy-now__title">Buy now</strong>
  <div class="buy-now__list">
    <input
      class="buy-now__checkbox-input"
      type="checkbox"
      name="checkbox"
      id="checkbox-cream"
    />
    <label class="buy-now__item buy-now__item-cream" for="checkbox-cream">
      <span class="buy-now__cover-one"></span>
      <picture>
        <source
          srcset="
            ./images/modal/modal-img1@1x.png 1x,
            ./images/modal/modal-img1@2x.png 2x
          "
          type="image/jpg"
        />
        <img
          class="buy-now__img"
          src="./images/modal/modal-img1@1x.png"
          alt="colorful scoops of ice cream in waffle cones"
        />
      </picture>

      <span class="buy-now__text">ice cream</span>
    </label>

    <input
      class="buy-now__checkbox-input"
      type="checkbox"
      name="checkbox"
      id="checkbox-coffee"
    />

    <label class="buy-now__item buy-now__item-coffee" for="checkbox-coffee">
      <span class="buy-now__cover-second"></span>
      <picture>
        <source
          srcset="
            ./images/modal/modal-img2@1x.png 1x,
            ./images/modal/modal-img2@2x.png 2x
          "
          type="image/jpg"
        />
        <img
          class="buy-now__img"
          src="./images/modal/modal-img2@1x.png"
          alt="transparent cup of coffee with spices"
        />
      </picture>

      <span class="buy-now__text">ice coffee</span>
    </label>

    <input
      class="buy-now__checkbox-input"
      type="checkbox"
      name="checkbox"
      id="checkbox-milkshake"
    />

    <label
      class="buy-now__item buy-now__item-milkshake"
      for="checkbox-milkshake"
    >
      <span class="buy-now__cover-third"></span>
      <picture>
        <source
          srcset="
            ./images/modal/modal-img3@1x.png 1x,
            ./images/modal/modal-img3@2x.png 2x
          "
          type="image/jpg"
        />
        <img
          class="buy-now__img"
          src="./images/modal/modal-img3@1x.png"
          alt="milk chocolate cocktail with cream and cookies"
        />
      </picture>

      <span class="buy-now__text">milkshake</span>
    </label>
  </div>

  <form class="buy-now__form">
    <label class="buy-now__label">
      <input
        class="buy-now__input"
        type="text"
        name="user-name"
        placeholder="Name"
        pattern="^[a-zA-Z]+\s[a-zA-Z]+$"
        title="Username must be two words separated by space."
        required
      />
    </label>
    <label class="buy-now__label">
      <input
        class="buy-now__input"
        type="text"
        name="user-phone"
        placeholder="Phone"
        pattern="\+?[0-9\s\-\(\)]+"
        title="+country code 999 99 99"
        required
      />
    </label>
    <label class="buy-now__label">
      <textarea
        class="buy-now__textarea"
        name="user-comment"
        placeholder="Comment"
      ></textarea>
    </label>
    <button class="button buy-now__button" type="submit">Submit</button>
  </form>
</div>
