<div class="backdrop">
  <div class="contacts-modal">
    <h3 class="contacts-modal__title">Our Locations</h3>
    <button class="contacts-modal__btn-close" class="" type="button">
      <svg class="contacts-modal__btn-icon" width="9" height="9">
        <use href="./images/sprites.svg#icon-close"></use>
      </svg>
    </button>
    <iframe
      class="contacts-modal__map"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3658.1360606539606!2d34.55587260104807!3d49.58468317537715!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82f5deef16bef%3A0x8bd3a458f63801e8!2z0JzQtdGC0YDQvtC_0L7Qu9C40YLQtdC9!5e0!3m2!1sru!2sua!4v1665838831962!5m2!1sru!2sua"
      style="border: 0"
      allowfullscreen="0"
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    >
    </iframe>
    <a
      class="contacts-modal__link"
      href="https://goo.gl/maps/SJ6AdirNkbFTakZF8"
      target="_blank"
      rel="noreferrer noopener"
      >Open map</a
    >
  </div>
</div>
