<section class='customer-reviews section'>
  <div class='customer-reviews__container container'>
    <ul class='customer-reviews__list list one-time'>
      <li class='customer-reviews__item item'>
        <picture>

          <source
            srcset='./images/customer/customer-img1@1x.png 1x, ./images/customer/customer-img1@2x.png 2x'
            type='image/jpg'
          />

          <img
            class='customer-reviews__img'
            src='./images/customer/customer-img1@1x.png'
            alt='Client-1'>
        </picture>
        <p class='customer-reviews__text'>
          I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In addition,
          you have beautiful serving, cozy atmosphere and polite staff.
        </p>
        <h3 class='customer-reviews__name'>Emily, Los Angeles</h3>
      </li>
      <li class='customer-reviews__item item'>
        <picture>

          <source
            srcset='./images/customer/customer-img2@1x.png 1x, ./images/customer/customer-img2@2x.png 2x'
            type='image/jpg'
          />

          <img
            class='customer-reviews__img'
            src='./images/customer/customer-img2@1x.png'
            alt='Client-2'>
        </picture>

        <p class='customer-reviews__text'>
          I love eating popsicles on a hot day. Yours is always delicious. I recommend your cafe to everyone I know.
        </p>
        <h3 class='customer-reviews__name'>
          Sam, Los Angeles
        </h3>
      </li>
      <li class='customer-reviews__item item'>
        <picture>

          <source
            srcset='./images/customer/customer-img3@1x.png 1x, ./images/customer/customer-img3@2x.png 2x'
            type='image/jpg'
          />

          <img
            class='customer-reviews__img'
            src='./images/customer/customer-img3@1x.png'
            alt='Client-3'>
        </picture>
        <p class='customer-reviews__text'>
          Ice cream is my passion! I love your chocolate hazelnut ice cream! And I really like the excellent service -
          always served politely and quickly!
        </p>
        <h3 class='customer-reviews__name'>
          Diana, Chicago
        </h3>
      </li>
      <li class='customer-reviews__item item'>
        <picture>

          <source
            srcset='./images/customer/customer-img4@1x.png 1x, ./images/customer/customer-img4@2x.png 2x'
            type='image/jpg'
          />

          <img
            class='customer-reviews__img'
            src='./images/customer/customer-img4@1x.png'
            alt='Client-4'>
        </picture>
        <p class='customer-reviews__text'>
          Every day we come to you with friends after classes in college. We love your ice cream and casual atmosphere!
        </p>
        <h3 class='customer-reviews__name'>
          Bryan, New-York
        </h3>
      </li>
    </ul>

  </div>
</section>
