<section class='gallery'>
  <div class='gallery__container container'>
    <div class='gallery__wrapper'>

      <h2 class='visually-hidden'>Gallery</h2>
      <ul class='gallery__list  list gallery-slider'>
        <li class='gallery__item item'>
          <picture>
            <!--   Desktop       -->
            <source
              media='(min-width: 1200px)'
              srcset='
                      ./images/gallery/gallery-img1_lg@1x.webp 1x,
                      ./images/gallery/gallery-img1_lg@1x.webp 2x'

              type='image/webp'
            />
            <source
              media='(min-width: 1200px)'
              srcset='./images/gallery/gallery-img1_lg@1x.jpg'
              type='image/jpg'
            />
            <!-- Tablet -->
            <source
              media='(min-width: 768px)'
              srcset='
                      ./images/gallery/gallery-img1_md@1x.webp 1x,
                      ./images/gallery/gallery-img1_md@2x.webp 2x
                    '
              type='image/webp'
            />
            <source
              media='(min-width: 768px)'
              srcset='./images/gallery/gallery-img1_md@1x.jpg, ./images/gallery/gallery-img1_md@2x.jpg 2x'
              type='image/jpg'
            />

            <!-- Mobile -->
            <source
              media='(min-width: 480px)'
              srcset='
                      ./images/gallery/gallery-img1_sm@1x.webp 1x,
                      ./images/gallery/gallery-img1_sm@2x.webp 2x
                    '
              type='image/webp'
            />
            <source
              media='(min-width: 480px)'
              srcset='./images/gallery/gallery-img1_sm@1x.jpg 1x, ./images/gallery/gallery-img1_sm@2x.jpg 2x'
              type='image/jpg'
            />
            <img
              class='gallery__img'
              src='./images/gallery/gallery-img1_sm@1x.jpg'
              alt='Ice cream-1'>
          </picture>
        </li>
        <li class='gallery__item'>
          <picture>
            <!--   Desktop       -->
            <source
              media='(min-width: 1200px)'
              srcset='
                      ./images/gallery/gallery-img2_lg@1x.webp 1x,
                      ./images/gallery/gallery-img2_lg@2x.webp 2x'

              type='image/webp'
            />
            <source
              media='(min-width: 1200px)'
              srcset='./images/gallery/gallery-img2_lg@1x.jpg, ./images/gallery/gallery-img2_lg@2x.jpg 2x'
              type='image/jpg'
            />
            <!-- Tablet -->
            <source
              media='(min-width: 768px)'
              srcset='
                      ./images/gallery/gallery-img2_md@1x.webp 1x,
                      ./images/gallery/gallery-img2_md@2x.webp 2x
                    '
              type='image/webp'
            />
            <source
              media='(min-width: 768px)'
              srcset='./images/gallery/gallery-img2_md@1x.jpg, ./images/gallery/gallery-img2_md@2x.jpg 2x'
              type='image/jpg'
            />

            <!-- Mobile -->
            <source
              media='(min-width: 480px)'
              srcset='
                      ./images/gallery/gallery-img2_sm@1x.webp 1x,
                      ./images/gallery/gallery-img2_sm@2x.webp 2x
                    '
              type='image/webp'
            />
            <source
              media='(min-width: 480px)'
              srcset='./images/gallery/gallery-img2_sm@1x.jpg 1x, ./images/gallery/gallery-img2_sm@2x.jpg 2x'
              type='image/jpg'
            />
            <img
              class='gallery__img'
              src='./images/gallery/gallery-img2_sm@1x.jpg'
              alt='Ice cream-2'>
          </picture>
        </li>
        <li class='gallery__item'>
          <picture>
            <!--   Desktop       -->
            <source
              media='(min-width: 1200px)'
              srcset='
                      ./images/gallery/gallery-img3_lg@1x.webp 1x,
                      ./images/gallery/gallery-img3_lg@2x.webp 2x'

              type='image/webp'
            />
            <source
              media='(min-width: 1200px)'
              srcset='./images/gallery/gallery-img3_lg@1x.jpg, ./images/gallery/gallery-img3_lg@2x.jpg 2x'
              type='image/jpg'
            />
            <!-- Tablet -->
            <source
              media='(min-width: 768px)'
              srcset='
                      ./images/gallery/gallery-img3_md@1x.webp 1x,
                      ./images/gallery/gallery-img3_md@2x.webp 2x
                    '
              type='image/webp'
            />
            <source
              media='(min-width: 768px)'
              srcset='./images/gallery/gallery-img3_md@1x.jpg, ./images/gallery/gallery-img3_md@2x.jpg 2x'
              type='image/jpg'
            />

            <!-- Mobile -->
            <source
              media='(min-width: 480px)'
              srcset='
                      ./images/gallery/gallery-img3_sm@1x.webp 1x,
                      ./images/gallery/gallery-img3_sm@2x.webp 2x
                    '
              type='image/webp'
            />
            <source
              media='(min-width: 480px)'
              srcset='./images/gallery/gallery-img3_sm@1x.jpg 1x, ./images/gallery/gallery-img3_sm@2x.jpg 2x'
              type='image/jpg'
            />
            <img
              class='gallery__img'
              src='./images/gallery/gallery-img3_sm@1x.jpg'
              alt='Ice cream-3'>
          </picture>
        </li>
        <li class='gallery__item'>
          <picture>
            <!--   Desktop       -->
            <source
              media='(min-width: 1200px)'
              srcset='
                      ./images/gallery/gallery-img4_lg@1x.webp 1x,
                      ./images/gallery/gallery-img4_lg@2x.webp 2x'

              type='image/webp'
            />
            <source
              media='(min-width: 1200px)'
              srcset='./images/gallery/gallery-img4_lg@1x.jpg, ./images/gallery/gallery-img4_lg@2x.jpg 2x'
              type='image/jpg'
            />
            <!-- Tablet -->
            <source
              media='(min-width: 768px)'
              srcset='
                      ./images/gallery/gallery-img4_md@1x.webp 1x,
                      ./images/gallery/gallery-img4_md@2x.webp 2x
                    '
              type='image/webp'
            />
            <source
              media='(min-width: 768px)'
              srcset='./images/gallery/gallery-img4_md@1x.jpg, ./images/gallery/gallery-img4_md@2x.jpg 2x'
              type='image/jpg'
            />

            <!-- Mobile -->
            <source
              media='(min-width: 480px)'
              srcset='
                      ./images/gallery/gallery-img4_sm@1x.webp 1x,
                      ./images/gallery/gallery-img4_sm@2x.webp 2x
                    '
              type='image/webp'
            />
            <source
              media='(min-width: 480px)'
              srcset='./images/gallery/gallery-img4_sm@1x.jpg 1x, ./images/gallery/gallery-img4_sm@2x.jpg 2x'
              type='image/jpg'
            />
            <img
              class='gallery__img'
              src='./images/gallery/gallery-img4_sm@1x.jpg'
              alt='Ice cream-4'>
          </picture>
        </li>
        <li class='gallery__item'>
          <picture>
            <!--   Desktop       -->
            <source
              media='(min-width: 1200px)'
              srcset='
                      ./images/gallery/gallery-img5_lg@1x.webp 1x,
                      ./images/gallery/gallery-img5_lg@2x.webp 2x'

              type='image/webp'
            />
            <source
              media='(min-width: 1200px)'
              srcset='./images/gallery/gallery-img5_lg@1x.jpg, ./images/gallery/gallery-img5_lg@2x.jpg 2x'
              type='image/jpg'
            />
            <!-- Tablet -->
            <source
              media='(min-width: 768px)'
              srcset='
                      ./images/gallery/gallery-img5_md@1x.webp 1x,
                      ./images/gallery/gallery-img5_md@2x.webp 2x
                    '
              type='image/webp'
            />
            <source
              media='(min-width: 768px)'
              srcset='./images/gallery/gallery-img5_md@1x.jpg, ./images/gallery/gallery-img5_md@2x.jpg 2x'
              type='image/jpg'
            />

            <!-- Mobile -->
            <source
              media='(min-width: 480px)'
              srcset='
                      ./images/gallery/gallery-img5_sm@1x.webp 1x,
                      ./images/gallery/gallery-img5_sm@2x.webp 2x
                    '
              type='image/webp'
            />
            <source
              media='(min-width: 480px)'
              srcset='./images/gallery/gallery-img5_sm@1x.jpg 1x, ./images/gallery/gallery-img5_sm@2x.jpg 2x'
              type='image/jpg'
            />
            <img
              class='gallery__img'
              src='./images/gallery/gallery-img5_sm@1x.jpg'
              alt='Ice cream-5'>
          </picture>
        </li>

      </ul>

    </div>
  </div>

</section>
