<header class="header">
  <div class="container header__container">
    <a class="header__logo" href="./index.html">
      <img src="./images/logo.png" alt="logo" width="40" height="37">
    </a>

    <nav class="site-nav">
      <ul class="site-nav__list">
        <li class="site-nav__item">
          <a class="site-nav__link" href="">Home</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="">How it’s made?</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="">Our products</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="">Contact</a>
        </li>
      </ul>
    </nav>


    <button class="mobile-menu__btn" aria-expanded="false" type="button">
      <svg width="32" height="32">
        <use href="./images/sprites.svg#icon-burger"></use>
      </svg>
    </button>

    <button class="header__button button" type="submit">Buy now</button>
  </div>
</header>