<header class="header" id="home">
  <div class="container header__container">
    <a class="logo header__logo" href="./index.html">
      <svg class="logo__icon header__icon" width="40" height="37">
        <use href="./images/sprites.svg#icon-logo-ice"></use>
      </svg>
    </a>

    <nav class="site-nav">
      <ul class="site-nav__list">
        <li class="site-nav__item">
          <a class="site-nav__link" href="./index.html">Home</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="#about">How it’s made?</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="#products">Our products</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link" href="#contacts">Contact</a>
        </li>
      </ul>
    </nav>

    <button
      class="mobile-menu__btn js-open-menu"
      aria-expanded="false"
      type="button"
    >
      <svg width="32" height="32">
        <use href="./images/sprites.svg#icon-burger"></use>
      </svg>
    </button>

    <button
      class="button header__button js-open-modal"
      data-modal="4"
      type="button"
    >
      Buy now
      <svg class="button__svg" width="16" height="16">
        <use href="./images/sprites.svg#icon-pointer"></use>
      </svg>
    </button>
  </div>
</header>
