<!-- Мобільне меню -->
<div class="menu js-menu-container" id="mobile-menu">
  <a class="logo menu__logo" href="./index.html">
    <svg class="logo__icon" width="40" height="37">
      <use href="./images/sprites.svg#icon-logo-ice"></use>
    </svg>
  </a>

  <button class="menu-toggle js-close-menu" aria-expanded="false" type="button">
    <svg class="menu-icon" width="32" height="32">
      <use href="./images/sprites.svg#icon-close"></use>
    </svg>
  </button>

  <nav class="menu-nav">
    <ul class="menu-nav__list">
      <li class="menu-nav__item">
        <a class="menu-nav__link" href="#home">Home</a>
      </li>
      <li class="menu-nav__item">
        <a class="menu-nav__link" href="#about">How it’s made?</a>
      </li>
      <li class="menu-nav__item">
        <a class="menu-nav__link" href="#products">Our products</a>
      </li>
      <li class="menu-nav__item">
        <a class="menu-nav__link" href="#contacts">Contact</a>
      </li>
    </ul>
  </nav>

  <button
    class="menu__button button js-open-modal"
    data-modal="4"
    type="button"
  >
    Buy now
    <svg class="button__svg" width="16" height="16">
      <use href="./images/sprites.svg#icon-pointer"></use>
    </svg>
  </button>
</div>
