<!-- Мобільне меню -->
<div class="menu">
  <a class="header__logo" href="./index.html">
    <img src="./images/logo.png" alt="logo" width="40" height="37">
  </a>

  <button class="menu-toggle" aria-expanded="false" type="button">
    <svg class="menu-icon" width="32" height="32">
      <use href="./images/sprites.svg#icon-close"></use>
    </svg>
  </button>

  <nav class="menu-nav">
    <ul class="menu-nav__list">
      <li class="menu-nav__item">
        <a class="menu-nav__link" href="">Home</a>
      </li>
      <li class="menu-nav__item">
        <a class="menu-nav__link menu-nav__link--active" href="">How it’s made?</a>
      </li>
      <li class="menu-nav__item">
        <a class="menu-nav__link" href="">Our products</a>
      </li>
      <li class="menu-nav__item">
        <a class="menu-nav__link" href="">Contact</a>
      </li>
    </ul>
  </nav>

  <button class="menu__button button" type="submit">Buy now</button>

</div>