<!-- Header -->
<section class="hero" >
  <div class="container hero__container">
    <div class="hero--wrapper">
      <h1 class="hero__title wow animate__backInLeft">
        ice cream made with <span class="hero__title--accent">passion</span>
      </h1>

      <ul class="distribution hero__distribution wow animate__backInRight">
        <li class="distribution__item">
          <p class="distribution__quantity">16</p>
          <p class="distribution__type">cafes</p>
        </li>
        <li>
          <p class="distribution__quantity">23</p>
          <p class="distribution__type">food trucks</p>
        </li>
      </ul>
    </div>

    <div class="hero__group-buttons scrollto wow animate__backInLeft">
      <a class="button button--transparent" href="#products">Products</a>
      <a class="button button--how" href="#about">How it’s made?</a>
    </div>

    <div class="hero__thumb">
      <picture>
        <!-- Desktop screen -->
        <source
          media="(min-width:1200px)"
          srcset="
            ./images/hero/hero-img3_lg@1x.png 1x,
            ./images/hero/hero-img3_lg@2x.png 2x
          "
          type="image/png"
        />
        <!-- Tablet screen -->
        <source
          media="(min-width:768px)"
          srcset="
            ./images/hero/hero-img3_md@1x.png 1x,
            ./images/hero/hero-img3_md@2x.png 2x
          "
          type="image/png"
        />
        <img
          class="thumb__img-plate img"
          src="./images/hero/hero-img3_md@1x.png"
          alt="Picture ice cream in plate"
          loading="lazy"
        />
      </picture>
      <div class="thumb__wrapper">
        <p class="thumb__desc">
          a rich, sweet, creamy frozen food made from variously flavored cream
          and milk products churned or stirred
        </p>
        <a class="card__btn hero__arrov" href="">
          <svg class="" height="20">
            <use
              class="hero__arrov-1"
              href="./images/sprites.svg#icon-arrov-1"
            ></use>
            <use
              class="hero__arrov-3"
              href="./images/sprites.svg#icon-arrov-3"
            ></use>
          </svg>
        </a>
      </div>
    </div>

    <!-- Block for position absolute img -->
    <div class="hero__padding">
      <picture>
        <!-- Desktop screen -->
        <source
          media="(min-width:1200px)"
          srcset="
            ./images/hero/hero-img1_lg@1x.png 1x,
            ./images/hero/hero-img1_lg@2x.png 2x
          "
          type="image/png"
        />
        <!-- Tablet screen -->
        <source
          media="(min-width:768px)"
          srcset="
            ./images/hero/hero-img1_md@1x.png 1x,
            ./images/hero/hero-img1_md@2x.png 2x
          "
          type="image/png"
        />
        <!-- Mobile screen -->
        <source
          media="(max-width:767px)"
          srcset="
            ./images/hero/hero-img1_sm@1x.png 1x,
            ./images/hero/hero-img1_sm@2x.png 2x
          "
          type="image/png"
        />
        <img
          class="hero__img-icecream img"
          src="./images/hero/hero-img1_sm@1x.png"
          alt="ice Cream"
          loading="lazy"
        />
      </picture>

      <picture>
        <!-- Desktop screen -->
        <source
          media="(min-width:1200px)"
          srcset="
            ./images/hero/hero-img2_lg@1x.png 1x,
            ./images/hero/hero-img2_lg@2x.png 2x
          "
          type="image/png"
        />
        <!-- Tablet screen -->
        <source
          media="(min-width:768px)"
          srcset="
            ./images/hero/hero-img2_md@1x.png 1x,
            ./images/hero/hero-img2_md@2x.png 2x
          "
          type="image/png"
        />
        <!-- Mobile screen -->
        <source
          media="(max-width:767px)"
          srcset="
            ./images/hero/hero-img2_sm@1x.png 1x,
            ./images/hero/hero-img2_sm@2x.png 2x
          "
          type="image/png"
        />
        <img
          class="hero__img-dots img"
          src="./images/hero/hero-img2_sm@1x.png"
          alt="dots"
          loading="lazy"
        />
      </picture>
    </div>
  </div>
</section>
