<div class="backdrop is-hidden" data-modal>
    <div class="products-modal">
        <button type="button" class="products-modal__button-close" data-modal-close>
            <svg width="18px" height="18px">
                <use href="../images/sprites.svg#icon-close"></use>
            </svg>
        </button>

        <p class="products-modal__main-title"> Chololate <br> icecream</p>

        <div class="products-modal__image">
            <img>
        </div>

        <div class="products-modal__calories">
            <ul class="products-modal__list">
                <li class="products-modal__item"></li>
                <li class="products-modal__item"></li>
                <li class="products-modal__item"></li>
                <li class="products-modal__item"></li>
            </ul>
        </div>

        <div class="products-modal__ingredients">
            <p class="products-modal_title">Ingredients</p>

            <table class="products-modal__table">
                <tr class="products-modal__row">
                    <td class="products-modal__cell">Milk</td>
                    <td class="products-modal__cell">100ml</td>
                </tr>
                <tr class="products-modal__row">
                    <td class="products-modal__cell">Belgian chocolate</td>
                    <td class="products-modal__cell">20g</td>
                </tr>
                <tr class="products-modal__row">
                    <td class="products-modal__cell">Cream</td>
                    <td class="products-modal__cell">150 ml</td>
                </tr>
                <tr class="products-modal__row">
                    <td class="products-modal__cell">Cocoa powder</td>
                    <td class="products-modal__cell">30g</td>
                </tr>
                <tr class="products-modal__row">
                    <td class="products-modal__cell">Sugar</td>
                    <td class="products-modal__cell">40g</td>
                </tr>
                <tr class="products-modal__row">
                    <td class="products-modal__cell">Vanilla sugar</td>
                    <td class="products-modal__cell">10g</td>
                </tr>
            </table>
        </div>

        <form class="products-modal__form">

            <div class="input-field">
                <input type="text" class="form-input" name="form-username" id="form-username" placeholder="Name">
            </div>

            <div class="input-field">
                <input type="tel" class="form-input" name="form-tel" id="form-tel" placeholder="Phone">
            </div>

            <div class="input-field-textarea">
                <textarea class="form-textarea" name="form-comment" placeholder="Comment" id="form-comment"></textarea>
            </div>

            <button class="button-submit" type="submit">Submit</button>

        </form>

    </div>
</div>