<!-- <section class="products" id="products">
  <div class="container">
    <p class="title__label">100% natural</p>
    <h2 class="title__products title">products</h2>
    <ul class="products__list list">
      <li class="products__item products__item--cream">
        <picture></picture>
        <div class="products__circle products__circle--cream"></div>
        <div class="products__type">
          <h3 class="title__name">ice cream</h3>
          <p class="products__descr">
            Soft ice cream with a delicate taste. Made with milk, cream, sugar
            and natural stabilizer
          </p>
        </div>
        <button class="products_btn" type="button">
          <svg class="products__arrov" width="40px" height="">
            <use href="./images/sprites.svg#icon-arrov-1"></use>
          </svg>
        </button>
      </li>
      <li class="products__item products__item--coffee">
        <picture></picture>
        <div class="products__circle products__circle--coffee"></div>
        <div class="products__type">
          <h3 class="title__name">ice coffee</h3>
          <p class="products__descr">
            Fragrant invigorating drink created from 100% natural ingredients
            without the use of preservatives and flavor enhancers
          </p>
        </div>
        <button class="products_btn" type="button">
          <svg class="products__arrov" width="40px" height="">
            <use href="./images/sprites.svg#icon-arrov-1"></use>
          </svg>
        </button>
      </li>
      <li class="products__item products__item--milkshakes">
        <picture></picture>
        <div class="products__circle products__circle--milkshakes"></div>
        <div class="products__type">
          <h3 class="title__name">milkshakes</h3>
          <p class="products__descr">
            Sweet drinks based on milk and ice cream, supplemented with syrups,
            fruits, berries and other sweets of your choice
          </p>
        </div>
        <button class="products_btn" type="button">
          <svg class="products__arrov" width="40px" height="">
            <use href="./images/sprites.svg#icon-arrov-1"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section> -->

<section class="products" id="products">
  <div class="container">
    <p class="products__uppertitle">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__list">
      <li class="card">
        <picture class="card__img">
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/product/product-img1_lg@1x.png 1x,
              ./images/product/product-img1_lg@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/product/product-img1_md@1x.png 1x,
              ./images/product/product-img1_md@2x.png 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/product/product-img1_sm@1x.png 1x,
              ./images/product/product-img1_sm@2x.png 2x
            "
          />
          <img
            src="./images/product/product-img1_sm@1x.png"
            alt="Ноутбук з сайтом"
          />
        </picture>
        <div class="card__wrapper">
          <h3 class="card__title">ice cream</h3>
          <p class="card__text">
            Soft ice cream with a delicate taste. Made with milk, cream, sugar
            and natural stabilizer
          </p>
          <button class="card__btn js-open-modal" data-modal="4" type="button">
            <svg class="card__arrov" height="20px">
              <use href="./images/sprites.svg#icon-arrov-1"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="card">
        <picture class="card__img">
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/product/product-img2_lg@1x.png 1x,
              ./images/product/product-img2_lg@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/product/product-img2_md@1x.png 1x,
              ./images/product/product-img2_md@2x.png 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/product/product-img2_sm@1x.png 1x,
              ./images/product/product-img2_sm@2x.png 2x
            "
          />
          <img
            src="./images/product/product-img2_sm@1x.png"
            alt="Ноутбук з сайтом"
          />
        </picture>
        <div class="card__wrapper card__wrapper--yellow">
          <h3 class="card__title">ice coffee</h3>
          <p class="card__text">
            Fragrant invigorating drink created from 100% natural ingredients
            without the use of preservatives and flavor enhancers
          </p>
          <button class="card__btn js-open-modal" data-modal="5" type="button">
            <svg class="card__arrov" height="20px">
              <use href="./images/sprites.svg#icon-arrov-1"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="card">
        <picture class="card__img">
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/product/product-img3_lg@1x.png 1x,
              ./images/product/product-img3_lg@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/product/product-img3_md@1x.png 1x,
              ./images/product/product-img3_md@2x.png 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/product/product-img3_sm@1x.png 1x,
              ./images/product/product-img3_sm@2x.png 2x
            "
          />
          <img
            src="./images/product/product-img3_sm@1x.png"
            alt="Ноутбук з сайтом"
          />
        </picture>
        <div class="card__wrapper card__wrapper--orange">
          <h3 class="card__title">milkshakes</h3>
          <p class="card__text">
            Sweet drinks based on milk and ice cream, supplemented with syrups,
            fruits, berries and other sweets of your choice
          </p>
          <button class="card__btn js-open-modal" data-modal="6" type="button">
            <svg class="card__arrov" height="20px">
              <use href="./images/sprites.svg#icon-arrov-1"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
