<section class="products">
<div class="container"
   <p class="title__label">100% natural</p>
   <h1 class="title__products title">products</h1>
   <ul class="products__list list">
      <li class="products__item">
         <picture></picture>
         <div>
            <h2 class="title__name">ice cream</h2>
            <p class="products__descr">Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer
            </p>
         </div>
      </li>
      <li class="products__item">
         <picture></picture>
         <div>
            <h2 class="title__name">ice coffee</h2>
            <p class="products__descr">Fragrant invigorating drink created from 100% natural ingredients without the use of preservatives and flavor enhancers
            </p>
         </div>
      </li>
      <li class="products__item">
         <picture></picture>
         <div>
            <h2 class="title__name">milkshakes</h2>
            <p class="products__descr">Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and other sweets of your choice
            </p>
         </div>
      </li>
   </ul>
   </div>
</section>
