<div class="backdrop">
  <div class="how-modal">
    <h3 class="contacts-modal__title">How it’s made?</h3>
    <button class="contacts-modal__btn-close" class="" type="button">
      <svg class="contacts-modal__btn-icon" width="9" height="9">
        <use href="./images/sprites.svg#icon-close"></use>
      </svg>
    </button>
    <div class="how-modal__wrapper">
      <iframe
        class="how-modal__video"
        src="https://www.youtube.com/embed/8WEMZ86Eho8?controls=0"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <p class="how-modal__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    </p>
  </div>
</div>
