<div class="how-modal modal" data-modal="3">
  <h3 class="how-modal__title">How it’s made?</h3>
  <button type="button" class="products-modal__button-close js-modal-close">
    <svg width="16px" height="16px">
      <use href="./images/sprites.svg#icon-close"></use>
    </svg>
  </button>
  <div class="how-modal__wrapper">
    <iframe
      class="how-modal__video"
      src="https://www.youtube.com/embed/8WEMZ86Eho8?controls=0"
      title="YouTube video player"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
  <p class="how-modal__text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
    adipiscing elit, sed do eiusmod tempor incididunt ut labore et
  </p>
</div>
