.buy-now__backdrop-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 28px;
  transform: translate(-50%, -50%);

  width: 280px;
  max-height: 100%;
  overflow: auto;

  background-color: var(--main-light);
  border: 2px solid var(--accent-color);
  border-radius: 10px;

  @include medium-min {
    width: 568px;
    padding: 32px 60px;
  }
}

.buy-now__btn-close {
  display: block;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 12px;
  right: 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 16px;
  height: 16px;

  border: none;
  background-color: transparent;
  cursor: pointer;

  @include medium-min {
    width: 20px;
    height: 20px;
  }
}

.buy-now__title {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;

  font-family: 'Seymour One';
  font-size: 16px;
  line-height: calc(24 / 16);
  text-align: center;
  color: var(--main-dark);
  letter-spacing: 0em;

  @include medium-min {
    margin-bottom: 24px;
    width: 322px;
    font-size: 20px;
    line-height: calc(28 / 20);
  }
}

.buy-now__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 47px;
  margin-top: 85px;

  @include medium-min {
    flex-wrap: nowrap;
    margin-top: 100px;
    margin-bottom: 40px;
    gap: 32px;
  }
}

.buy-now__cover-one {
  width: 131px;
  height: 130px;
  background: linear-gradient(0deg,
      rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)),
    #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
  position: absolute;
  top: -55px;
  border-radius: 50%;
  z-index: -1;
  left: 50%;
  transform: translate(-50%);
}

.buy-now__cover-second {
  width: 131px;
  height: 130px;
  background: linear-gradient(0deg,
      rgba(248, 210, 78, 0.7),
      rgba(248, 210, 78, 0.7)),
    #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
  position: absolute;
  top: -55px;
  border-radius: 50%;
  z-index: -1;
  left: 50%;
  transform: translate(-50%);
}

.buy-now__cover-third {
  width: 131px;
  height: 130px;
  background: linear-gradient(0deg,
      rgba(213, 117, 63, 0.7),
      rgba(213, 117, 63, 0.7)),
    #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: -55px;
  border-radius: 50%;
  z-index: -1;
  left: 50%;
  transform: translate(-50%);
}

.buy-now__item {
  position: relative;
  max-width: 132px;
  border-radius: 20px;
  margin-bottom: 40px;

  @include medium-min {
    margin-bottom: 0;
  }
}

.buy-now__item-cream {
  cursor: pointer;
  border: 2px solid #aec6a5;

  transition: background-color var(--main-animation);

  @include large-min {
    &:hover {
      background-color: rgb(174, 198, 165, 0.5);
    }
  }
}

.buy-now__checkbox-input:checked+.buy-now__item-cream {
  background-color: #aec6a5;
}

.buy-now__item-coffee {
  cursor: pointer;
  border: 2px solid #efd478;

  transition: background-color var(--main-animation);

  @include large-min {
    &:hover {
      background-color: rgba(239, 211, 118, 0.5);
    }
  }
}

.buy-now__checkbox-input:checked+.buy-now__item-coffee {
  background-color: #efd478;
}

.buy-now__item-milkshake {
  cursor: pointer;
  border: 2px solid #d6936d;

  transition: background-color var(--main-animation);

  @include large-min {
    &:hover {
      background-color: rgb(214, 147, 109, 0.5);
    }
  }
}

.buy-now__checkbox-input:checked+.buy-now__item-milkshake {
  background-color: #d6936d;
}

.buy-now__checkbox-input {
  position: absolute;
  opacity: 0;
}

.buy-now__img {
  max-width: 102%;
  position: absolute;
  top: -48%;
  border-radius: 50%;

  left: 50%;
  transform: translate(-50%);
}

.buy-now__text {
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
  padding: 95px 1px 20px 1px;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  width: 130px;
  display: block;
}

.buy-now__input {
  display: flex;
  margin: 0 auto;
  padding: 7px 12px;
  margin-bottom: 12px;
  width: 100%;

  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;

  transition: border-color var(--main-animation);

  &:hover,
  &:focus,
  &:focus-visible {
    outline: none;
    border-color: var(--accent-color);
  }

  @include medium-min {
    padding: 11px 16px;
    margin-bottom: 16px;

    width: 368px;
  }

  &::placeholder {
    font-size: 12px;
    line-height: calc(17 / 12);
    color: var(--main-dark);

    @include medium-min {
      font-size: 14px;
      line-height: calc(20 / 14);
    }
  }
}

.buy-now__textarea {
  display: flex;
  margin: 0 auto;
  padding: 7px 12px;
  margin-bottom: 24px;

  width: 100%;
  height: 64px;
  resize: none;

  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;

  transition: border-color var(--main-animation);

  &:hover,
  &:focus,
  &:focus-visible {
    outline: none;
    border-color: var(--accent-color);
  }

  @include medium-min {
    padding: 11px 16px;
    margin-bottom: 32px;

    width: 368px;
    height: 84px;
  }

  &::placeholder {
    font-size: 12px;
    line-height: calc(17 / 12);
    color: var(--main-dark);

    @include medium-min {
      font-size: 14px;
      line-height: calc(20 / 14);
    }
  }
}

.buy-now__button {
  display: flex;
  margin: 0 auto;
}