.menu {
  display: flex;
  flex-direction: column;

  position: fixed;
  top: 0;
  left: 0;
  padding-bottom: 60px;

  background-color: var(--main-background);
  width: 100%;
  height: 100%;
  z-index: 5;
  transform: translateX(100%);
  transition: transform var(--main-animation);
  overflow: auto;

  &.is-open {
    transform: translateX(0);
  }
}

.menu-nav {
  margin-top: 100px;
  margin-bottom: auto;
  text-align: center;

  @include medium-min {
    margin-top: 140px;
  }

  @media screen and(max-height: 520px) {
    margin-bottom: 50px;
  }
}

.menu__logo {
  top: 12px;
  left: 32px;

  @include medium-min {
    top: 20px;
  }
}

.menu-nav__list {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include medium-min {
    gap: 40px;
  }
}

.menu-nav__link {
  transition: color var(--main-animation);

  text-decoration: none;
  color: var(--main-light);
  font-weight: 700;
  font-size: 32px;
  line-height: 1.25;

  &:hover,
  &:focus {
    color: var(--main-dark);
  }

  @include medium-min {
    font-size: 48px;
  }
}

.menu-toggle {
  fill: var(--main-light);
  position: absolute;
  top: 16px;
  right: 20px;
  transition: fill var(--main-animation);
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }

  @include medium-min {
    top: 32px;
    right: 32px;
  }
}

.menu__button {
  margin-left: auto;
  margin-right: auto;

  @include medium-min {
    display: none;
  }
}