.products-modal {
  position: absolute;

  overflow: auto;
  width: 280px;
  max-height: 100%;

  background: var(--main-light);
  border: 2px solid #f8d24e;
  border-radius: 10px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 28px 20px 32px 20px;
  z-index: 2;

  @include medium-min {
    width: 568px;
    padding: 32px 40px;
  }
}

.products-modal__button-close {
  display: block;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 12px;
  right: 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 16px;
  height: 16px;

  border: none;
  background-color: transparent;
  cursor: pointer;

  @include medium-min {
    width: 20px;
    height: 20px;
  }
}

.products-modal__main-title {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  color: var(--main-dark);
  text-align: center;
  margin-bottom: 15px;

  @include medium-min {
    margin-bottom: 17px;
  }
}

.products-modal__image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

.products-modal__cover {
  width: 131px;
  height: 131px;
  background: linear-gradient(0deg,
      rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)),
    #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
  position: absolute;
  top: 7px;
  border-radius: 50%;
  z-index: -1;
}

.products-modal__cover-second-modal {
  width: 131px;
  height: 131px;
  background: linear-gradient(0deg,
      rgba(248, 210, 78, 0.7),
      rgba(248, 210, 78, 0.7)),
    #d9d9d9;
  box-shadow: 0px 5px 20px rgba(153, 114, 23, 0.25);
  position: absolute;
  top: 7px;
  border-radius: 50%;
  z-index: -1;
}

.products-modal__cover-third-modal {
  width: 131px;
  height: 131px;
  background: linear-gradient(0deg,
      rgba(213, 117, 63, 0.7),
      rgba(213, 117, 63, 0.7)),
    #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 7px;
  border-radius: 50%;
  z-index: -1;
}

.products-modal__image-circle {
  border-radius: 50%;
}

.products-modal__title {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  color: var(--main-dark);
  text-align: center;
  margin-bottom: 24px;
}

.products-modal__calories {
  margin-bottom: 48px;
  position: relative;
}

.products-modal__list {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: var(--main-dark);
  gap: 9px;

  @include medium-min {
    gap: 20px;
  }
}

.products-modal__block {
  position: relative;
  width: 53px;
  height: 72px;
  border: 2px solid #9cbe8f;
  border-radius: 40px;

  @include medium-min {
    width: 65px;
    height: 90px;
  }
}

.products-modal__block-second-modal {
  position: relative;
  width: 53px;
  height: 72px;
  border: 2px solid #efd478;
  border-radius: 40px;

  @include medium-min {
    width: 65px;
    height: 90px;
  }
}

.products-modal__block-third-modal {
  position: relative;
  width: 53px;
  height: 72px;
  border: 2px solid #d6936d;
  border-radius: 40px;

  @include medium-min {
    width: 65px;
    height: 90px;
  }
}

.products-modal__block-dub {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 43px;
  height: 43px;
  background: #9cbe8f;
  border: 2px solid #9cbe8f;
  border-radius: 50%;
  box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
  align-items: center;
  position: absolute;
  top: -2;
  left: 3;

  @include medium-min {
    width: 53px;
    height: 53px;
    left: 4;
  }
}

.products-modal__block-dub-second-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 43px;
  height: 43px;
  background: #efd478;
  border: 2px solid #efd478;
  border-radius: 50%;
  box-shadow: 0px 6px 20px rgba(153, 114, 23, 0.25);
  align-items: center;
  position: absolute;
  top: -2;
  left: 3;

  @include medium-min {
    width: 53px;
    height: 53px;
    left: 4;
  }
}

.products-modal__block-dub-third-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 43px;
  height: 43px;
  background: #d6936d;
  border: 2px solid #d6936d;
  border-radius: 50%;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.25);
  align-items: center;
  position: absolute;
  top: -2;
  left: 3;

  @include medium-min {
    width: 53px;
    height: 53px;
    left: 4;
  }
}

.products-modal__value {
  text-align: center;
  margin-top: 50px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: var(--main-dark);

  @include medium-min {
    margin-top: 60px;
    font-size: 12px;
  }
}

.products-modal__value-dub {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 10px;
  line-height: 2.8;
  color: var(--main-dark);

  @include medium-min {
    font-size: 12px;
    line-height: 2.3;
  }
}

.products-modal__table {
  width: 100%;
  margin-bottom: 48px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.76;
  font-family: var(--main-font);
  color: var(--main-dark);
}

.products-modal__row {
  margin-bottom: 11px;

  &:last-child {
    margin-bottom: 0;
  }
}

.products-modal__cell {
  &:nth-child(even) {
    text-align: right;
  }
}

.products-modal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.products-modal__input-field {
  margin-bottom: 14px;
  width: 100%;

  @include medium-min {
    width: 368px;
  }
}

.products-modal__form-input {
  display: block;
  width: 100%;
  height: 42px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
  cursor: pointer;
  padding-left: 11px;

  &::placeholder {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    color: var(--main-dark);
  }

  &:hover,
  &:focus {
    border: 1px solid #f8d24e;
    outline: none;
  }

  @include medium-min {
    width: 368px;
  }
}

.products-modal__form-input-second-modal {
  display: block;
  width: 100%;
  height: 42px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #efd478;
  border-radius: 10px;
  cursor: pointer;
  padding-left: 11px;

  &::placeholder {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    color: var(--main-dark);
  }

  &:hover,
  &:focus {
    border: 2px solid #f8d24e;
    outline: none;
  }

  @include medium-min {
    width: 368px;
  }
}

.products-modal__form-input-third-modal {
  display: block;
  width: 100%;
  height: 42px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #d6936d;
  border-radius: 10px;
  cursor: pointer;
  padding-left: 11px;

  &::placeholder {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    color: var(--main-dark);
  }

  &:hover,
  &:focus {
    border: 1px solid #f8d24e;
    outline: none;
  }

  @include medium-min {
    width: 368px;
  }
}

.products-modal__input-field-textarea {
  margin-bottom: 32px;
  width: 100%;

  @media screen and (min-width: 768px) {
    width: 368px;
  }
}

.products-modal__form-textarea {
  display: block;
  width: 100%;
  height: 84px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
  cursor: pointer;
  padding-left: 11px;
  padding-top: 11px;
  resize: none;

  &::placeholder {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    color: var(--main-dark);
  }

  &:hover,
  &:focus {
    border: 1px solid #f8d24e;
    outline: none;
  }

  @media screen and (min-width: 768px) {
    width: 368px;
  }
}

.products-modal__form-textarea-second-modal {
  display: block;
  width: 100%;
  height: 84px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #efd478;
  border-radius: 10px;
  cursor: pointer;
  padding-left: 11px;
  padding-top: 11px;
  resize: none;

  &::placeholder {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    color: var(--main-dark);
  }

  &:focus,
  &:hover {
    border: 2px solid #f8d24e;
    outline: none;
  }

  @media screen and (min-width: 768px) {
    width: 368px;
  }
}

.products-modal__form-textarea-third-modal {
  display: block;
  width: 100%;
  height: 84px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #d6936d;
  border-radius: 10px;
  cursor: pointer;
  padding-left: 11px;
  padding-top: 11px;
  resize: none;

  &::placeholder {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    color: var(--main-dark);
  }

  &:focus,
  &:hover {
    border: 1px solid #f8d24e;
    outline: none;
  }

  @media screen and (min-width: 768px) {
    width: 368px;
  }
}

.products-modal__button-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;

  background: var(--accent-color);
  border-radius: 10px;
  width: 132px;
  height: 42px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  color: var(--main-dark);

  cursor: pointer;
}