.about {
  background-color: #84a178;
  padding-top: 60px;
  padding-bottom: 21px;

  @media screen and (min-width: 768px) {
    padding-bottom: 24px;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 30px;
  }
}

.about__subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-light);

  margin-bottom: 12px;

  @media screen and (min-width: 768px) {
    font-weight: 800;
    font-size: 22px;
    line-height: 1.22;
  }

  @media screen and (min-width: 1200px) {
    font-weight: 800;
    font-size: 30px;
    line-height: 1.23;
  }
}

.about__title {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 30px;
  line-height: 1.26;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--main-light);

  text-align: center;
  margin: 0 auto;
  margin-bottom: 53px;

  @media screen and (max-width: 767px) {
    max-width: 200px;
  }

  @media screen and (min-width: 768px) {
    font-size: 34px;
    line-height: 1.26;
    letter-spacing: 0.06em;
    margin-bottom: 98px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.25;
    margin-bottom: 121px;
  }
}

.about__box {
  @media screen and (min-width: 768px) {
    display: flex;
    // gap: 32px;
  }
}

.about__img {
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 768px) {
    margin-bottom: 40px;
  }
}

.img-wrap {
  position: relative;
  z-index: 2;
}

.img-wrap::after {
  content: '';
  position: absolute;
  width: 278px;
  height: 278px;
  display: block;
  background: var(--accent-color);
  border-radius: 50%;
  transform: translateY(-300px);
  z-index: -1;
  background: linear-gradient(
    0deg,
    rgba(248, 210, 78, 0.7),
    rgba(248, 210, 78, 0.7)
  );

  box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.9);

  @media screen and (min-width: 768px) {
    width: 335px;
    height: 335px;
    transform: translateY(-355px);
  }
  @media screen and (min-width: 1200px) {
    width: 490px;
    height: 490px;
    transform: translateY(-530px) translateX(9px);
  }
}

.about__picture {
  border-radius: 50%;
}

.about__info {
  // margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    margin-left: 32px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 100px;
  }
}

.about__list {
  @media screen and (max-width: 768px) {
    max-width: 220px;
    margin: 0 auto 20;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 48px;
  }
}

.about__item {
  @media screen and (min-width: 768px) {
    max-width: 336px;
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media screen and (max-width: 767px) {
    margin: 0 auto;
  }

  @media screen and (min-width: 1200px) {
    max-width: 463px;
  }
}

.about__item:last-child {
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.about__desc {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.75;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--main-light);

  &.text-special {
    @media screen and (min-width: 1200px) {
      font-size: 16px;
      line-height: 1.75;
    }
  }

  @media screen and (min-width: 768px) {
    text-align: left;
  }

  @media screen and (min-width: 1200px) {
    text-align: left;
    font-size: 14px;
    line-height: 1.92;
  }
}

.about__btn {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // gap: 5px;
  // margin-top: 20px;
  // margin-right: auto;
  // margin-left: auto;
  // padding: 12px 34px;
  // cursor: pointer;
  // border: none;
  // border-radius: 10px;
  // background-color: var(--accent-color);

  // color: var(--main-dark);
  // font-weight: 600;
  // font-size: 14px;
  // line-height: 1.28;

  // &:hover {
  //   background-color: var(--hover-btn);
  // }

  // &:focus {
  //   background-color: var(--hover-btn);
  //   color: var(--light-btn-text);
  // }

  @media screen and (max-width: 768px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.about__btn-icon {
  fill: currentColor;
  stroke: currentColor;
}
