.contacts {
  background-color: #84a178;
  height: 1130px;
  @include medium-min {
    height: 375px;
  }
  @include large-min {
    height: 685px;
  }
}
.contacts__container {
  position: relative;
  top: -345px;
  @include medium-min {
    top: -304px;
  }
  @include large-min {
    top: -96px;
  }
}

.contacts__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 32px;
  @include medium-min {
    gap: 16px;
    margin-bottom: 60px;
  }
  @include large-min {
    gap: 32px;
    margin-bottom: 64px;
  }
}
.contacts__item {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 32px;
  background-color: var(--main-light);
  border-radius: 30px;

  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);

  transition: box-shadow var(--main-animation);

  &:hover,
  &:focus {
    box-shadow: #f8d24e 0px 20px 30px -10px;

    animation: small-shake 1s;
  }

  @include medium-max {
    display: block;
    text-align: center;
    align-items: center;
  }
  @include medium-min {
    width: calc((100% - 32px) / 3);
    padding: 40px 24px;
  }
  @include large-min {
    width: calc((100% - 64px) / 3);
    padding: 40px 40px;
  }
}

.contacts__category {
  @include flex-center;
  padding: 0 22px;
  height: 16px;
  outline: none;
  border-color: transparent;

  background-color: var(--accent-color);
  color: var(--main-dark);
  border-radius: 4px;

  font-size: 12px;
  line-height: calc(22 / 12);
  font-weight: 500;
  text-transform: uppercase;

  cursor: default;

  @include medium-max {
    margin-left: auto;
    margin-right: auto;
  }
  @include medium-min {
    height: 28px;
    font-size: 16px;
    line-height: calc(30 / 16);
  }
}
.contacts__city {
  margin-top: 20px;
  margin-bottom: 8px;

  font-size: 12px;
  line-height: calc(22 / 12);
  font-weight: 500;
  color: var(--main-dark);
  @include medium-min {
    font-size: 14px;
    line-height: calc(26 / 14);
    margin-top: 32px;
    margin-bottom: 12px;
  }
  @include large-min {
    font-size: 16px;
    line-height: calc(30 / 16);
    margin-bottom: 8px;
  }
}
.contacts__map-link {
  margin: 0;
  font-size: 12px;
  line-height: calc(22 / 12);

  font-weight: 500;
  color: var(--card-orange);
  transition: color var(--main-animation), border-bottom var(--main-animation);

  @include medium-max {
    margin-left: auto;
    margin-right: auto;
  }
  @include medium-max {
    letter-spacing: 0;
    max-width: 200px;
  }
  @include medium-min {
    font-size: 14px;
    line-height: calc(26 / 14);
  }
  @include large-min {
    font-size: 16px;
    line-height: calc(30 / 16);
  }
}

.contacts__map-link:hover,
.contacts__map-link:focus {
  color: var(--hover-btn);
  border-bottom: 1px solid currentColor;
}
.contacts__schedule {
  margin: 24px 0;
  padding: 24px 0;

  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;

  @include medium-min {
    margin: 32px 0;
    padding: 32px 0;
  }
  @include large-min {
    margin: 32px 0;
    padding: 32px 0;
  }
}
.contacts__schedule-item {
  margin-bottom: 8px;
}
.contacts__schedule-day {
  color: var(--main-dark);
  font-size: 12px;
  line-height: calc(22 / 12);
  font-weight: 500;
  @include medium-min {
    font-size: 14px;
    line-height: calc(26 / 14);
  }
  @include large-min {
    font-size: 16px;
    line-height: calc(30 / 16);
  }
}
.contacts__schedule-time {
  color: #ababab;
  font-size: 12px;
  line-height: calc(22 / 12);
  font-weight: 500;
  @include medium-min {
    font-size: 14px;
    line-height: calc(26 / 14);
  }
  @include large-min {
    font-size: 16px;
    line-height: calc(30 / 16);
  }
}
.contacts__contacts {
  color: var(--main-dark);
}
.contacts__contacts-phone,
.contacts__contacts-mail {
  color: var(--main-dark);
  font-size: 12px;
  line-height: calc(18 / 12);
  font-weight: 500;

  transition: color var(--main-animation), border-bottom var(--main-animation);

  @include medium-min {
    font-size: 14px;
    line-height: calc(26 / 14);
  }
  @include large-min {
    font-size: 16px;
    line-height: calc(30 / 16);
  }
}
.contacts__contacts-phone:hover,
.contacts__contacts-phone:focus,
.contacts__contacts-mail:hover,
.contacts__contacts-mail:focus {
  color: var(--hover-btn);
  border-bottom: 1px solid currentColor;
}

.contacts__buttons {
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;
  @include medium-min {
    flex-direction: row;
    justify-content: center;
  }
}
.button__contacts {
  min-width: 196px;
}
.button__svg {
  fill: currentColor;
  stroke: currentColor;
}
