.contacts {
  background-color: #84a178;
}
.contacts__item {
  padding: 40px 32px;
  background-color: var(--main-light);
  border-radius: 30px;
  margin-bottom: 20px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
}
.contacts__category {
  display: inline;
  padding: 1px 22px;

  background-color: var(--accent-color);
  color: var(--main-dark);
  border-radius: 4px;

  font-size: 12px;
  line-height: calc(22 / 12);
  font-weight: 500;
}
.contacts__city {
  margin-top: 20px;
  margin-bottom: 8px;

  font-size: 12px;
  line-height: calc(22 / 12);
  font-weight: 500;
  color: var(--main-dark);
}
.contacts__map-link {
  font-size: 12px;
  line-height: calc(22 / 12);
  font-weight: 500;
  color: var(--card-orange);
}
.contacts__schedule {
  margin: 24px 0;
  padding: 24px 0;

  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}
.contacts_schedule-item {
  margin-bottom: 8px;
}
.contacts__schedule-day {
  color: var(--main-dark);
  font-size: 12px;
  line-height: calc(22 / 12);
  font-weight: 500;
}
.contacts__schedule-time {
  color: #ababab;
  font-size: 12px;
  line-height: calc(22 / 12);
  font-weight: 500;
}
.contacts__contacts {
  color: var(--main-dark);
}
.contacts__contacts-phone,
.contacts__contacts-mail {
  color: var(--main-dark);
  font-size: 12px;
  line-height: calc(18 / 12);
  font-weight: 500;
}
