.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.button.header__button {
  display: none;

  @include medium-min {
    display: flex;
  }
}

.logo {
  position: absolute;
  width: 40px;
  height: 40px;

  &:hover,
  &:focus {
    animation: random-shake 2s;
    animation-iteration-count: infinite;
  }

  @include medium-min {
    width: 48px;
    height: 44px;
  }

  @include large-min {
    width: 60px;
    height: 65px;
  }
}

.header__logo {
  top: 12px;

  @include large-min {
    position: static;
  }
}

.logo__icon {
  width: 100%;
  height: 100%;
}

.mobile-menu__btn {
  @include flex-center;
  margin-left: auto;
  padding-top: 15px;
  padding-bottom: 15px;

  background-color: transparent;
  border: none;
  cursor: pointer;

  @include medium-min {
    margin-right: 30px;
    padding-top: 25px;
  }

  @include large-min {
    display: none;
  }
}

// Навигация сторінки

.site-nav {
  display: none;

  @include large-min {
    display: block;
  }
}

.site-nav__list {
  display: flex;
  gap: 27px;
}

.site-nav__link {
  display: block;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  transition: color var(--main-animation);

  text-decoration: none;
  color: #fcfcfc;
  padding-top: 30px;
  padding-bottom: 30px;

  &:hover,
  &:focus {
    color: var(--accent-color);

    animation: small-shake 1s;
  }
}