.products {
  background-color: aqua;
}

.title__products {
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.27;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
}

.products__list {
}

.products__item {
  height: 420px;
  background: #aec6a5;
  border-radius: 24px;
}

.title__name {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
}
.products__descr {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  text-align: center;
  letter-spacing: 0.04em;
  color: #131313;
}
